# ==================== СЕКРЕТЫ ====================
ROUTERAI_API_KEY=your-api-key-here
ADMIN_PASSWORD=your-admin-password

# ==================== НАСТРОЙКИ ====================
QDRANT_URL=http://192.168.128.123:6333
WEAVIATE_URL=http://192.168.128.123:6789

OLLAMA_URL=http://192.168.128.123:6790
LLAMACPP_URL=http://192.168.0.254:8080/v1
ROUTERAI_URL=https://routerai.ru/api/v1

EMBEDDING_DOCS_MODEL=intfloat/multilingual-e5-base
EMBEDDING_TICKETS_MODEL=qwen/qwen3-embedding-4b